@import url(http://fonts.googleapis.com/css?family=Open+Sans|Actor);

h1 {
	font-family: 'Open Sans', sans-serif;
	font-size: 3.5em;
	text-align: center;
	color: #0078e7;
	margin-bottom: 0.5em;
}

h2 {
	font-family: 'Actor', sans-serif;
	font-size: 2em;
	text-align: center;
	margin-top: 0.5em;
	margin-bottom: 0em;
}

h3 {
	font-family: 'Actor', sans-serif;
	font-size: 1em;
	text-align: center;
}

form {
	text-align: center;
}

label {
	font-family: 'Actor', sans-serif;
	font-size: 2em;
}

input[type=text] {
	font-size: 1.5em;
	display: inline-block;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
}

button {
	/*Button*/
	background-color: #0078e7;
	border-color: transparent;
	margin-top: 1.5em;
	/*Text*/
	font-family: 'Actor', sans-serif;
	font-size: 1.25em;
	color: white;
	text-align: center;
	padding-top: 0.25em;
	padding-bottom: 0.25em;
	padding-left: 0.25em;
	padding-right: 0.25em;
	margin-top: 0.5em;
}

.buttons {
	text-align: center;
}

@media print {
	h1 {
		color: black;
		font-size: 20pt;
	}

	h2, button {
		display: none;
	}

	input[type=text] {
		font-size: 14pt;
	}

	h3 {
		font-size: 8pt;
	}

	a:link {
		color: black;
	}

	a:visited {
		color: black;
	}
}