doctype
html
  head
    link(rel="stylesheet" href="/main.css")
    link(rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css")

    script(src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js")

    script(type="text/javascript" src="responsive.js")

    title Alisha Ukani
    
  body
    div(class="row")
      div(class="col" style="width:18%" id="nav-col")
        h1
          a(href="/") Alisha Ukani
        ul(id="nav")
          li
            a(href="bio.html") Biology
          li
            a(href="cs.html") Computer Science
            ul(id="cs-nav")
              li
                a(href="projects.html") Projects
              li
                a(href="events.html") Events
          li
            a(href="orgs.html") Organizations
      div(class="col" style="width:2%")

      div(class="col" style="width:45%")
        != yield

      div(class="col")