h1 About Me

div(id="content")
  p
    | By now you probably know that I'm a 
    a(href="bio.html") biology
    |  and 
    a(href="cs.html") computer science
    |  
    a(href="orgs.html") nerd
    | . 
    br
    | But, I also like to do other things!

  p I used to row, and now I love sculling. I'm also going to be starting roller derby this fall with the Boston Junior Roller Derby League's first season!

  p 
    | I'm a huge fan of reading. I normall read the classics, though 
    i Siddhartha
    |  by Herman Hesse is my favorite book. I also really enjoy singing and playing guitar.

  p Check out the other pages for more info about me!