h1 Biology

div(id="content")
  p This summer, I have been doing research in a lab in Cambridge.
  p
    | I've also done original research on the effects of UV light on bacterial CRISPR/Cas systems using 
    i Streptococcus thermophilus
    |  bacteria. It was fascinating to see how resistant these defense systems are to mutations!