h1 Computer Science Overview

div(id="content")
  p I took AP Computer Science as a freshman, and it helped me realize how much I love computer science. I've been learning new languages and building cool things ever since!

  p I know the following programming and markup languages: JavaScript, CoffeeScript, PHP, Java, Python, Ruby, HTML, Jade, Markdown, CSS, and Less. I also know how to work with: jQuery, Bootstrap, Laravel, Ruby on Rails, and Harp.

  p 
    | To know more about my coding experience, please see the 
    a(href="projects.html") projects
    |  I've worked on and the 
    a(href="events.html") events
    |  I've been to.