h1 Computer Science Events

div(id="content")
  h2 Hack the North (September 2014)
  p I've been accepted to this hackathon, hosted by the University of Waterloo. More details to come!

  h2 Startup School (New York, June 2014)
  p I was accepted to Startup School NY, and I had a great time learning about how startups work!

  h2(id="codeday2014") CodeDay (Boston, May 2014)
  p
    | CodeDay was my first hackathon, and during this I was able to build 
    a(href="projects.html#twitterbots") two Twitter bots
    |  that implement a Markov chain algorithm to generate text! This project won the Most Organized Code award.