h1 Computer Science Events

div(id="content")
  h2 Hack the North (Waterloo, Canada - September 2014)
  p
    | I was accepted to 
    a(href="http://hackthenorth.com") Hack the North
    | , a hackathon hosted at the University of Waterloo. Over there, I built Project Seed, an off grid web server for developing countries. You can read more about it on the 
    a(href="projects.html#seed") projects page
    |  or on 
    a(href="http://challengepost.com/software/project-seed") ChallengePost
    | .

  h2 Startup School (NY - June 2014)
  p I was accepted to Startup School NY, and I had a great time learning about how startups work!

  h2(id="codeday2014") CodeDay (Boston, MA - May 2014)
  p
    | CodeDay was my first hackathon, and during this I was able to build 
    a(href="projects.html#twitterbots") two Twitter bots
    |  that implement a Markov chain algorithm to generate text! This project won the Most Organized Code award.