div(id="wrapper")
  h2
    | I'm a 
    a(href="bio.html") molecular biology
    |  and 
    a(href="cs.html") computer science
    |  nerd, and junior at Weston High School in Weston, MA.

  span(id="icons")
    a(href="https://github.com/alisha")
      i(class="fa fa-github icon")
    a(href="https://twitter.com/alishaukani")
      i(class="fa fa-twitter icon")
    a(href="https://linkedin.com/in/alishaukani")
      i(class="fa fa-linkedin icon")