div(id="wrapper")
  h1 I'm Alisha Ukani

  h2 I'm a rising junior at Weston High School, and I'm passionate about molecular biology and computer science.

  h2 Find me on 
    a(href="http://github.com") GitHub
    , 
    a(href="http://linkedin.com/in/alishaukani") LinkedIn
    , and 
    a(href="http://twitter.com/alishaukani") Twitter
    .

  br