@maroon: #AB0000;

body{
  font-family: "Helvetica";
  text-align: center;
  padding: 0px;
  background: #f4f4f7;
  color: #444;
  margin: 0;
}

h1{
  font-size: 65px;
  line-height: 1.2em;
  border-bottom: #CCC solid 1px;
  padding: 20px 0;
  color: #3D513D;
}

h3{
  font-weight: 300;
}

p{
  font-size: 20px;
}

a{
  color: #74907C;
}

#content{
  width: 50%;
  padding: 0% 25% 0% 25%;
  box-sizing: inherit;
}

/* Navbar */
#wrap{
  width: 100%;
  height: 50px;
  margin: 0;
  z-index: 99;
  position: relative;
}

.navbar{
  height: 50px;
  width: 100%;
  padding: 0px;
  margin: 0px;
  position: absolute;
  border-top: 2px solid #3D513D;
  border-bottom: 2px solid #3D513D;
  background-color: #74907C;
}

.navbar li{
  height: auto;
  width: 25%;
  float: left;
  list-style: none;
  padding: 0;
  margin: 0;
}

.navbar a{
  height: 15px;
  padding: 18px 0;
  text-decoration: none;
  display: block;
  color: white;
}

.navbar li:hover, .navbar li a:hover{
  background-color: #3D513D;
}

.navbar li ul{
  display: none;
  height: auto;
  width: 100%;
  margin: 0;
  padding: 0;
}

.navbar li:hover ul{
  display: block;
}

.navbar li ul li{
  background-color: #74907C;
  width: 100%;
}

button{
  background-color: #3D513D;
  color: white;
  border: 1px solid #3D513D;
  padding: 5px;
  font-size: 17px;
}

.classes{
  list-style-position: inside;
  padding: 0;
}
