@highlight: #BF0000;

html, body, div .ink-grid, div .column-group, div #navbar {
  height: 100%;
  margin: 0;
}

body {
  padding: 0px;
  padding-top: 2%;
}

h1 {
  color: @highlight;
  font-size: 230%;
}

a:link, a:visited {
  color: @highlight;
  text-decoration: none;
}

a:hover {
  border-bottom: 1px @highlight dotted;
}

#icons {
  a {
    color: black;
  }

  a:hover {
    border-bottom: none;
  }
}

i.fa.icon {
  font-size: 300%;
  margin-right: 5%;
}

div #navbar {
  padding-right: 1%;
}

li .heading a {
  font-weight: 700;
  color: @highlight;
}
