h1 Organizations

div(id="content")
  h2 School Organizations

  p I'm a member of Weston High School's Science Olympiad, Math, and Computer Science teams. I have been elected as Secretary for our Science Olympiad Team for the 2014-2015 school year. I also participate in Model United Nations.

  p I'm currently a Class of 2016 representative on the Principal Advisory Committee, and have been a Class of 2016 representative on Student Council for the past two years.


  h2 Professional Organizations

  p
    | I'm a member of the 
    a(href="https://www.aaas.org") American Association for the Advancement of Science
    |  (AAAS), 
    a(href="https://iscb.org") International Society for Computational Biology
    |  (ISCB), and the 
    a(href="https://www.asbmb.org") American Society for Biochemistry and Molecular Biology
    |  (ASBMB).