h1 Computer Science Projects

div(id="content")
  h2(id="quizical") Quizical
  p
    | In the summer of 2014, I built 
    a(href="http://quizical.io") Quizical
    | , a web app that facilitates discussion between high school teachers on dates for tests and quizzes. Check out the Quizical website for more information.

  h2(id="twitterbots") Twitter Bots
  p
    | At 
    a(href="events.html#codeday2014") CodeDay Boston 2014
    | , I created two Twitter bots, programs that tweet on their own. Both implement a Markov chain text generator algorithm. The 
    a(href="https://twitter.com/politicianbot") PoliticianBot
    |  uses historical speeches to generate political statements. The 
    a(href="https://twitter.com/austenbot") AustenBot
    |  uses 
    i Emma
    |  and 
    i Pride and Prejudice
    |  by Jane Austen to generate things Jane Austen would say. These bots won the Most Organized Code award at CodeDay Boston.

  h2(id="hublr") hublr
  p In December 2013, my brother and I created hublr, a Chrome extension that adds content discovery features to GitHub, like project descriptions on users' newsfeeds and infinte scrolling.

  h2(id="gpacalc") GPA Calculator
  p
    | I made a 
    a(href="GPAcalculator") GPA calculator
    |  for my school's guidance department. This lets students calculate their weighted and unweighted GPAs, which can make choosing courses easier when considering their final GPAs.
