doctype
html
  head
    link(rel="stylesheet" href="/main.css")
    link(rel="stylesheet" href="/css/bootstrap-theme.min.css")
    link(rel="stylesheet" href="/css/bootstrap.min.css")
    link(rel="stylesheet" href="/css/font-awesome.min.css")

  body
    div(class="row" id="bucket")
      div(class="col-sm-12 col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2")
        div(class="col-md-12 container-narrow")

          nav(class="navbar navbar-default" role="navigation")
            div(class="container-fluid")
              div(class="navbar-header")
                button(type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-1")
                  span(class="sr-only") Toggle navigation
                  span(class="icon-bar")
                  span(class="icon-bar")
                  span(class="icon-bar")
                a(class="navbar-brand" href="/") Alisha Ukani
              div(class="collapse navbar-collapse" id="navbar-collapse-1")
                ul(class="nav navbar-nav navbar-right")
                  li
                    a(href="cs.html") Computer Science Overview
                  li
                    a(href="projects.html") Projects
                  li
                    a(href="http://github.com/alisha")
                      i(class="fa fa-github")
                  li
                    a(href="http://twitter.com/alishaukani")
                      i(class="fa fa-twitter")

          != yield

    script(src="http://code.jquery.com/jquery-1.11.2.min.js")
    script(src="/js/bootstrap.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery-backstretch/2.0.4/jquery.backstretch.min.js")
    script(src="/js/background.js")