h1 Computer Science Overview

div(id="content")
  
  ul
    li I attended Y Combinator's Startup School in New York in June 2014
    
    li I've been coding since the start of freshman year (September 2012) when I decided to take AP Computer Science

    li Programming and markup languages I know: JavaScript, CoffeeScript, PHP, Java, Python, Ruby, HTML, Jade, Markdown, CSS, and Less

    li Frameworks, libraries, APIs, and tools I know: Laravel, Ruby on Rails, jQuery, Bootstrap, Harp, and Twilio.