h1 Computer Science Overview

div(id="content")
  
  ul
    li
      | I'm a National Award Runner-Up for the National Center for Women & IT's 2015 
      a(href="http://www.aspirations.org") Aspirations in Computing award
      | ! I'm very honored to received this award.

    li
      | I'm an active member of 
      a(href="http://codeforboston.org") Code for Boston
      | . I created a 
      a(href="https://github.com/codeforboston/CutePetsBoston/wiki/Setting-Up-a-Twitter-Bot") tutorial
      |  for our 
      a(href="https://twitter.com/CutiesInBoston") CutePets Twitter bot
      | , which tweets adoptable pets in local shelters. I'm currently working on 
      a(href="http://codeforboston.github.io/ungentry/") ungentry
      | .

    li I've taken 2 computer science courses at Harvard University.

    li I attended Y Combinator's Startup School in New York in June 2014
    
    li I've been coding since the start of freshman year (September 2012) when I decided to take AP Computer Science

    li Programming and markup languages I know: JavaScript, CoffeeScript, PHP, Java, Python, Ruby, HTML, Jade, Markdown, CSS, and Less

    li Frameworks, libraries, APIs, and tools I know: Laravel, Ruby on Rails, jQuery, Bootstrap, Harp, and Twilio.