h1 Hi. I'm Alisha

p
  | I'm a nerd and junior at Weston High School in Weston, MA. I like molecular biology and 
  a(href="cs.html") computer science
  | . My mission is to make the world a better place, which for now is focused on 
  a(href="") making education more accessible around the world
  | .

p At my school, I'm the Secretary of the Science Olympiad team. I also participate in Math Team, Computer Science Team, and Amnesty International.

p
  | Outside of school, I'm a member of 
  a(href="") Code for Boston
  | , a Code for America brigade. I also teach computer science in my town's 
  a(href="") Girls Who Code
  |  club.

p
  | When I'm not coding or growing bacteria, I like to 
  a(href="") take photos
  | , read, listen to music, and play guitar.