h1 Hi. I'm Alisha

p
  | I'm a nerd and junior at Weston High School in Weston, MA. I like molecular biology and 
  a(href="cs.html") computer science
  | . My mission is to make the world a better place, which for now is focused on 
  a(href="http://challengepost.com/software/project-seed") making education more accessible around the world
  | .

p At my school, I'm the Secretary of the Science Olympiad team. I also participate in Math Team, Computer Science Team, and Amnesty International.

p
  | When I'm not coding or growing bacteria, I like to 
  a(href="https://www.flickr.com/photos/alishaukani/") take photos
  | , read, listen to music, and play guitar.