@import url(http://fonts.googleapis.com/css?family=Arimo);

@highlight: #BD2609;

h1 {
  font-family: 'Arimo', sans-serif!important;
}

a:link {
  color: @highlight!important;
}

a:visited {
  color: @highlight!important;
}

nav {
  background-color: white!important;
  border-color: white!important;
  border: none!important;
  background-image: none!important;
}